<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update info</title>
</head>
<body>
<form th:method="PUT" th:action="@{/updateUser}" th:object="${updateUser}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="surname">Surname </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <input type="submit" value="OK">
</form>
</body>
</html>